In [1]:
# import libraries
import numpy as np
import pandas as pd

In [2]:
# get the numpy version
np.__version__

'1.23.5'

In [3]:
# get the pandas version
pd.__version__

'1.4.2'

In [7]:
# load dataset
data = pd.read_csv("data.csv")

In [10]:
# create a data frame
df = pd.DataFrame(data)
df.head()

,Make,Model,Year,Engine Fuel Type,Engine HP,Engine Cylinders,Transmission Type,Driven_Wheels,Number of Doors,Market Category,Vehicle Size,Vehicle Style,highway MPG,city mpg,Popularity,MSRP
0,BMW,1 Series M,2011,premium unleaded (required),335.0,6.0,MANUAL,rear wheel drive,2.0,"Factory Tuner,Luxury,High-Performance",Compact,Coupe,26,19,3916,46135
1,BMW,1 Series,2011,premium unleaded (required),300.0,6.0,MANUAL,rear wheel drive,2.0,"Luxury,Performance",Compact,Convertible,28,19,3916,40650
2,BMW,1 Series,2011,premium unleaded (required),300.0,6.0,MANUAL,rear wheel drive,2.0,"Luxury,High-Performance",Compact,Coupe,28,20,3916,36350
3,BMW,1 Series,2011,premium unleaded (required),230.0,6.0,MANUAL,rear wheel drive,2.0,"Luxury,Performance",Compact,Coupe,28,18,3916,29450
4,BMW,1 Series,2011,premium unleaded (required),230.0,6.0,MANUAL,rear wheel drive,2.0,Luxury,Compact,Convertible,28,18,3916,34500

In [14]:
# average price of BMW cars
df[df["Make"] == "BMW"].MSRP.mean()

61546.76347305389

In [33]:
# Average Engine HP
mean_hp_before = df["Engine HP"].mean()
mean_hp_before

249.38607007172791

In [18]:
df["Engine HP"].isnull().sum()

69

In [29]:
df["Engine HP"] = df["Engine HP"].fillna(mean_hp).mean()

In [30]:
df["Engine HP"].isnull().sum()

0

In [32]:
mean_hp_after = df["Engine HP"].mean()
mean_hp_after

249.38607007172791

In [35]:
print(round(mean_hp_before))
print(round(mean_hp_after))

249
249

In [41]:
# All Rolls-Royce cars
royce = df[df["Make"] == "Rolls-Royce"]
royce[["Engine HP", "Engine Cylinders", "highway MPG"]]

       Engine HP  Engine Cylinders  highway MPG
2921   249.38607               8.0           15
3505   249.38607              12.0           19
5275   249.38607              12.0           21
5276   249.38607              12.0           21
5277   249.38607              12.0           21
5278   249.38607              12.0           21
5279   249.38607              12.0           20
5280   249.38607              12.0           20
5281   249.38607              12.0           21
5282   249.38607              12.0           21
5283   249.38607              12.0           21
5284   249.38607              12.0           21
7443   249.38607              12.0           15
7444   249.38607              12.0           15
7553   249.38607              12.0           19
7554   249.38607              12.0           19
7555   249.38607              12.0           19
7556   249.38607              12.0           19
7557   249.38607              12.0           19
7558   249.38607              12.0           19
7559   249.38607              12.0           19
7560   249.38607              12.0           19
7561   249.38607              12.0           19
7562   249.38607              12.0           19
7563   249.38607              12.0           19
7564   249.38607              12.0           19
9431   249.38607              12.0           15
9432   249.38607              12.0           15
11448  249.38607              12.0           21
11449  249.38607              12.0           21
11450  249.38607              12.0           21

In [47]:
royce.duplicated().sum()

0