In [10]:
# import libraries
import numpy as np
import pandas as pd

In [11]:
# get the numpy version
np.__version__

'1.23.5'

In [12]:
# get the pandas version
pd.__version__

'1.4.2'

In [13]:
# load dataset
data = pd.read_csv("data.csv")

In [14]:
# create a data frame
df = pd.DataFrame(data)
df.head()

,Make,Model,Year,Engine Fuel Type,Engine HP,Engine Cylinders,Transmission Type,Driven_Wheels,Number of Doors,Market Category,Vehicle Size,Vehicle Style,highway MPG,city mpg,Popularity,MSRP
0,BMW,1 Series M,2011,premium unleaded (required),335.0,6.0,MANUAL,rear wheel drive,2.0,"Factory Tuner,Luxury,High-Performance",Compact,Coupe,26,19,3916,46135
1,BMW,1 Series,2011,premium unleaded (required),300.0,6.0,MANUAL,rear wheel drive,2.0,"Luxury,Performance",Compact,Convertible,28,19,3916,40650
2,BMW,1 Series,2011,premium unleaded (required),300.0,6.0,MANUAL,rear wheel drive,2.0,"Luxury,High-Performance",Compact,Coupe,28,20,3916,36350
3,BMW,1 Series,2011,premium unleaded (required),230.0,6.0,MANUAL,rear wheel drive,2.0,"Luxury,Performance",Compact,Coupe,28,18,3916,29450
4,BMW,1 Series,2011,premium unleaded (required),230.0,6.0,MANUAL,rear wheel drive,2.0,Luxury,Compact,Convertible,28,18,3916,34500

In [15]:
# average price of BMW cars
df[df["Make"] == "BMW"].MSRP.mean()

61546.76347305389

In [16]:
# Average Engine HP
mean_hp_before = df["Engine HP"].mean()
mean_hp_before

249.38607007176023

In [17]:
df["Engine HP"].isnull().sum()

69

In [18]:
df["Engine HP"] = df["Engine HP"].fillna(mean_hp_before).mean()

In [19]:
df["Engine HP"].isnull().sum()

0

In [20]:
mean_hp_after = df["Engine HP"].mean()
mean_hp_after

249.38607007172791

In [21]:
print(round(mean_hp_before))
print(round(mean_hp_after))

249
249

In [29]:
# All Rolls-Royce cars
royce = df[df["Make"] == "Rolls-Royce"]
royce = royce[["Engine HP", "Engine Cylinders", "highway MPG"]]
royce

       Engine HP  Engine Cylinders  highway MPG
2921   249.38607               8.0           15
3505   249.38607              12.0           19
5275   249.38607              12.0           21
5276   249.38607              12.0           21
5277   249.38607              12.0           21
5278   249.38607              12.0           21
5279   249.38607              12.0           20
5280   249.38607              12.0           20
5281   249.38607              12.0           21
5282   249.38607              12.0           21
5283   249.38607              12.0           21
5284   249.38607              12.0           21
7443   249.38607              12.0           15
7444   249.38607              12.0           15
7553   249.38607              12.0           19
7554   249.38607              12.0           19
7555   249.38607              12.0           19
7556   249.38607              12.0           19
7557   249.38607              12.0           19
7558   249.38607              12.0           19
7559   249.38607              12.0           19
7560   249.38607              12.0           19
7561   249.38607              12.0           19
7562   249.38607              12.0           19
7563   249.38607              12.0           19
7564   249.38607              12.0           19
9431   249.38607              12.0           15
9432   249.38607              12.0           15
11448  249.38607              12.0           21
11449  249.38607              12.0           21
11450  249.38607              12.0           21

In [30]:
# check if royce has duplicated values
royce.duplicated().sum()

26

In [31]:
# drop royce duplicated values
royce = royce.drop_duplicates()
royce.duplicated().sum()

0

In [24]:
# check if the dataframe has duplicated values
df.duplicated().sum()

731

In [25]:
# drop duplicates
df = df.drop_duplicates()
df.duplicated().sum()

0

In [34]:
# underlying numpy arrays from royce subset
X = royce.values
# matrix-matrix mupltiplication between X Transpose and X
XTX = X.T.dot(X)
XTX

array([[310967.05972918,  13965.61992402,  22444.74630646],
       [ 13965.61992402,    640.        ,   1020.        ],
       [ 22444.74630646,   1020.        ,   1652.        ]])

In [35]:
# inverse of XTX
XTX_inv = np.linalg.inv(XTX)
XTX_inv

array([[ 0.00020438, -0.00214986, -0.00144934],
       [-0.00214986,  0.12048193, -0.04518072],
       [-0.00144934, -0.04518072,  0.04819277]])

In [37]:
# sum of all elements of the XTX_inv
XTX_inv.sum()

0.07131922890936898

In [38]:
# create an array
y = np.array([1000, 1100, 900, 1200, 1000, 850, 1300])
y

array([1000, 1100,  900, 1200, 1000,  850, 1300])