## Data Preparation

In [1]:
# import libraries
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

In [2]:
# enable viewing all columns regardless how many
pd.set_option("display.max_columns", None)

In [4]:
# load the dataset and create a data frame
dataset = pd.read_csv("AB_NYC_2019.csv")
df = pd.DataFrame(dataset)
df.head()

,id,name,host_id,host_name,neighbourhood_group,neighbourhood,latitude,longitude,room_type,price,minimum_nights,number_of_reviews,last_review,reviews_per_month,calculated_host_listings_count,availability_365
0,2539,Clean & quiet apt home by the park,2787,John,Brooklyn,Kensington,40.64749,-73.97237,Private room,149,1,9,2018-10-19,0.21,6,365
1,2595,Skylit Midtown Castle,2845,Jennifer,Manhattan,Midtown,40.75362,-73.98377,Entire home/apt,225,1,45,2019-05-21,0.38,2,355
2,3647,THE VILLAGE OF HARLEM....NEW YORK !,4632,Elisabeth,Manhattan,Harlem,40.80902,-73.94190,Private room,150,3,0,NaN,NaN,1,365
3,3831,Cozy Entire Floor of Brownstone,4869,LisaRoxanne,Brooklyn,Clinton Hill,40.68514,-73.95976,Entire home/apt,89,1,270,2019-07-05,4.64,1,194
4,5022,Entire Apt: Spacious Studio/Loft by central park,7192,Laura,Manhattan,East Harlem,40.79851,-73.94399,Entire home/apt,80,10,9,2018-11-19,0.10,1,0

In [7]:
# The size of the dataset
print("Number of rows: ", df.shape[0])
print("Number of columns: ", df.shape[1])

Number of rows:  48895
Number of columns:  16

In [5]:
# make all column names and values of categorical columns uniform in lowercase and replace spaces with underscores
df.columns = df.columns.str.lower().str.replace(" ", "_")

categorical_columns = list(df.dtypes[df.dtypes == "object"].index)

for c in categorical_columns:
    df[c] = df[c].str.lower().str.replace(" ", "_")

In [6]:
df.head()

,id,name,host_id,host_name,neighbourhood_group,neighbourhood,latitude,longitude,room_type,price,minimum_nights,number_of_reviews,last_review,reviews_per_month,calculated_host_listings_count,availability_365
0,2539,clean_&_quiet_apt_home_by_the_park,2787,john,brooklyn,kensington,40.64749,-73.97237,private_room,149,1,9,2018-10-19,0.21,6,365
1,2595,skylit_midtown_castle,2845,jennifer,manhattan,midtown,40.75362,-73.98377,entire_home/apt,225,1,45,2019-05-21,0.38,2,355
2,3647,the_village_of_harlem....new_york_!,4632,elisabeth,manhattan,harlem,40.80902,-73.94190,private_room,150,3,0,NaN,NaN,1,365
3,3831,cozy_entire_floor_of_brownstone,4869,lisaroxanne,brooklyn,clinton_hill,40.68514,-73.95976,entire_home/apt,89,1,270,2019-07-05,4.64,1,194
4,5022,entire_apt:_spacious_studio/loft_by_central_park,7192,laura,manhattan,east_harlem,40.79851,-73.94399,entire_home/apt,80,10,9,2018-11-19,0.10,1,0

In [27]:
df.neighbourhood_group.value_counts()

manhattan        21661
brooklyn         20104
queens            5666
bronx             1091
staten_island      373
Name: neighbourhood_group, dtype: int64

The most frequent neighbourhood group is <b>manhattan</b>

In [8]:
# Data Frames's columns
df.columns

Index(['id', 'name', 'host_id', 'host_name', 'neighbourhood_group',
       'neighbourhood', 'latitude', 'longitude', 'room_type', 'price',
       'minimum_nights', 'number_of_reviews', 'last_review',
       'reviews_per_month', 'calculated_host_listings_count',
       'availability_365'],
      dtype='object')

## Setting up the Validation Framework

In [9]:
# import train_test_split
from sklearn.model_selection import train_test_split

In [10]:
# split the dataframe into full train and test sets
df_full_train, df_test = train_test_split(df, test_size=0.2, random_state=42)

In [11]:
# check the lengths of both full_train and test sets
len(df_full_train), len(df_test)

(39116, 9779)

In [12]:
#now split the full train into tran and validation sets
df_train, df_val = train_test_split(df_full_train, test_size=0.25, random_state=42)

In [13]:
# check the lengths of train, validation and test sets
len(df_train), len(df_val), len(df_test)

(29337, 9779, 9779)

In [15]:
# reset index of al sets
df_train = df_train.reset_index(drop=True)
df_val = df_val.reset_index(drop=True)
df_test = df_test.reset_index(drop=True)

In [16]:
# create y variables from all sets
y_train = df_train.price.values
y_val = df_val.price.values
y_test = df_test.price.values

In [17]:
# delete the target variable from all sets so that it is not accidentally used as X variable
del df_train["price"]
del df_val["price"]
del df_test["price"]

## Exploratory Data Analysis

- Check for missing values
- Look at the target variable(price)
- Look at numerical and categorical variables

In [18]:
# reset the index of the full dataset
df_full_train = df_full_train.reset_index(drop=True)

In [19]:
# check for null values in the dataset
df_full_train.isnull().sum()

id                                   0
name                                 9
host_id                              0
host_name                           18
neighbourhood_group                  0
neighbourhood                        0
latitude                             0
longitude                            0
room_type                            0
price                                0
minimum_nights                       0
number_of_reviews                    0
last_review                       8106
reviews_per_month                 8106
calculated_host_listings_count       0
availability_365                     0
dtype: int64

hostname, last_review and reviews_per_month have null values

In [24]:
# mean price
df_full_train.price.mean()

153.75158502914408

In [25]:
# highest price
df_full_train.price.max()

10000