## Decision Trees and Ensemble Learning

In this project, we'll learn trees usind <b> Decision Tree</b> and <b>Ensemble learning</b>.

The project is <b>Credit Risk Score</b> for loan applicants using using <b>CreditScoring.csv</b> dataset.

## Data Preparation and Cleaning

- Loading the dataset
- Re-encoding the categorical variables
- Doing the train/validation/test split

In [2]:
# import libraries
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
%matplotlib inline

In [3]:
dataset = pd.read_csv("CreditScoring.csv")
df = pd.DataFrame(dataset)
df.head()

,Status,Seniority,Home,Time,Age,Marital,Records,Job,Expenses,Income,Assets,Debt,Amount,Price
0,1,9,1,60,30,2,1,3,73,129,0,0,800,846
1,1,17,1,60,58,3,1,1,48,131,0,0,1000,1658
2,2,10,2,36,46,2,2,3,90,200,3000,0,2000,2985
3,1,0,1,60,24,1,1,1,63,182,2500,0,900,1325
4,1,0,1,36,26,1,1,1,46,107,0,0,310,910